
.radio {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 16px;
	align-self: start;
	font-family: "Noto Sans";
	color: #666666;
	cursor: pointer;
	margin-bottom: 35px;
	input {
		display: none;
		pointer-event: none;
		&:checked + div::before {
			content: "";
			width: 12px;
			height: 12px;
			background: #7A5CFA;
			border-radius: 9999px;
		}
	}
	.view {
		width: 24px;
		height: 24px;
		border: 1px solid #CCCCCC;
		border-radius: 99999px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
